In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('adult.csv')
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [4]:
data.describe()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

Пропущенных значений в датасете нет. Аномальные значения тоже отсутствуют. Посмотрим на неопределённые значения категориальных признаков.

In [5]:
data.workclass.value_counts()

Private             33906
Self-emp-not-inc     3862
Local-gov            3136
?                    2799
State-gov            1981
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: workclass, dtype: int64

In [6]:
data.education.value_counts()

HS-grad         15784
Some-college    10878
Bachelors        8025
Masters          2657
Assoc-voc        2061
11th             1812
Assoc-acdm       1601
10th             1389
7th-8th           955
Prof-school       834
9th               756
12th              657
Doctorate         594
5th-6th           509
1st-4th           247
Preschool          83
Name: education, dtype: int64

In [7]:
data['educational-num'].value_counts()

9     15784
10    10878
13     8025
14     2657
11     2061
7      1812
12     1601
6      1389
4       955
15      834
5       756
8       657
16      594
3       509
2       247
1        83
Name: educational-num, dtype: int64

Признак **educational-num** соответсвует признаку **education**, в котором значения отсортированы относительно степени образования и им присвоены численные значения.  
Для обучения модели будем использовать признак **educational-num**.

In [8]:
data['marital-status'].value_counts()

Married-civ-spouse       22379
Never-married            16117
Divorced                  6633
Separated                 1530
Widowed                   1518
Married-spouse-absent      628
Married-AF-spouse           37
Name: marital-status, dtype: int64

In [9]:
data.occupation.value_counts()

Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
?                    2809
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: occupation, dtype: int64

In [10]:
data.relationship.value_counts()

Husband           19716
Not-in-family     12583
Own-child          7581
Unmarried          5125
Wife               2331
Other-relative     1506
Name: relationship, dtype: int64

In [11]:
data.race.value_counts()

White                 41762
Black                  4685
Asian-Pac-Islander     1519
Amer-Indian-Eskimo      470
Other                   406
Name: race, dtype: int64

In [12]:
data.gender.value_counts()

Male      32650
Female    16192
Name: gender, dtype: int64

In [13]:
data['native-country'].value_counts()

United-States                 43832
Mexico                          951
?                               857
Philippines                     295
Germany                         206
Puerto-Rico                     184
Canada                          182
El-Salvador                     155
India                           151
Cuba                            138
England                         127
China                           122
South                           115
Jamaica                         106
Italy                           105
Dominican-Republic              103
Japan                            92
Guatemala                        88
Poland                           87
Vietnam                          86
Columbia                         85
Haiti                            75
Portugal                         67
Taiwan                           65
Iran                             59
Greece                           49
Nicaragua                        49
Peru                             46
Ecuador                          45
France                           38
Ireland                          37
Hong                             30
Thailand                         30
Cambodia                         28
Trinadad&Tobago                  27
Outlying-US(Guam-USVI-etc)       23
Yugoslavia                       23
Laos                             23
Scotland                         21
Honduras                         20
Hungary                          19
Holand-Netherlands                1
Name: native-country, dtype: int64

In [14]:
data.income.value_counts()

<=50K    37155
>50K     11687
Name: income, dtype: int64

Стран много, поэтому для обучения модели признак **native-country** использовать не будем.  
Среди остальных признаков неопределённые значения *'?'* содержатся в признаках **workclass** и **occupation**. Удалим все строки, в которых присутствуют эти значения.

In [15]:
data = data.loc[~((data.workclass == '?') | (data.occupation == '?'))].reset_index(drop=True)

Признаки **gender** и **income**, в которых присутствуют только два значения, преобразуем с помощью *Label Encoding*.

In [16]:
from sklearn.preprocessing import LabelEncoder
le_gender = LabelEncoder()
le_income = LabelEncoder()

In [17]:
le_gender.fit(data.gender)
le_income.fit(data.income)

LabelEncoder()

In [18]:
data.gender = le_gender.transform(data.gender)
data.income = le_income.transform(data.income)

Выберем признаки для обучения модели и подготовим оставшиеся категориальные признаки по методу *One Hot Encoding*.

In [19]:
selected_columns = [x for x in list(data) if x not in ['education', 'native-country', 'income']]

In [20]:
selected_attributes = pd.get_dummies(data[selected_columns], 
                                     columns = ['workclass', 'marital-status', 'occupation', 'relationship', 'race'])

In [21]:
selected_attributes.head()

,age,fnlwgt,educational-num,gender,capital-gain,capital-loss,hours-per-week,workclass_Federal-gov,workclass_Local-gov,workclass_Private,...,relationship_Not-in-family,relationship_Other-relative,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White
0,25,226802,7,1,0,0,40,0,0,1,...,0,0,1,0,0,0,0,1,0,0
1,38,89814,9,1,0,0,50,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2,28,336951,12,1,0,0,40,0,1,0,...,0,0,0,0,0,0,0,0,0,1
3,44,160323,10,1,7688,0,40,0,0,1,...,0,0,0,0,0,0,0,1,0,0
4,34,198693,6,1,0,0,30,0,0,1,...,1,0,0,0,0,0,0,0,0,1

Нормируем наши данные и обучим модель логистической регрессии на тренировочных данных и проверим точность модели на тестовых.

In [22]:
from sklearn.linear_model import LogisticRegression

In [23]:
from sklearn.preprocessing import MinMaxScaler

min_max = MinMaxScaler()
norm_array = min_max.fit_transform(selected_attributes)

X = pd.DataFrame(norm_array, columns = selected_attributes.columns)

In [24]:
X.shape

(46033, 46)

In [25]:
y = data.income

In [26]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=13)

In [27]:
log_reg = LogisticRegression(max_iter=200)

log_reg.fit(X_train, y_train)

LogisticRegression(max_iter=200)

In [28]:
print('Logistic Regression model score: %.3f' % log_reg.score(X_test, y_test))

Logistic Regression model score: 0.849

Обучим модель опорных векторов на тренировочных данных и проверим точность модели на тестовых.

In [29]:
from sklearn.svm import SVC

In [30]:
svm_model = SVC(kernel='linear')

svm_model.fit(X_train, y_train)

SVC(kernel='linear')

In [31]:
print('SVM model score: %.3f' % svm_model.score(X_test, y_test))

SVM model score: 0.850

Точность метода логистической регрессии на наших данных меньше точности метода опорных векторов на 0.001.